﻿@using IdentityServer.ViewModels
@model ConsentViewModel

@{ ViewData["Title"] = "授权"; }

<div class="container">
    <div class="mt-5 row page-header">
        <div class="col-sm-10">
            @if (Model.ClientLogoUrl != null)
            {
                <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
            }
            <h1>
                @Model.ClientName
                <small>要求获得您的权限</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            @Html.Partial("_ValidationSummary")
            <form asp-action="Index" class="consent-form">
                <input type="hidden" asp-for="ReturnUrl" />
                <div>请取消选择您不希望授予的权限。</div>

                @if (Model.IdentityScopes.Any())
                {
                    <div class="card panel-default consent-buttons">
                        <div class="card-header">
                            <span class="glyphicon glyphicon-user"></span>
                            个人信息
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.IdentityScopes)
                            {
                                @Html.Partial("_ScopeListItem", scope)
                            }
                        </ul>
                    </div>
                }
                @if (Model.ResourceScopes.Any())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-tasks"></span>
                            访问的应用
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.ResourceScopes)
                            {
                                @Html.Partial("_ScopeListItem", scope)
                            }
                        </ul>
                    </div>
                }
                @if (Model.AllowRememberConsent)
                {
                    <div class="consent-remember">
                        <label>
                            <input class="consent-scopecheck" asp-for="RememberConsent" />
                            <strong>记住我的选择</strong>
                        </label>
                    </div>
                }
                <div class="consent-buttons">
                    <button name="button" value="yes" class="btn btn-primary" autofocus>同意</button>
                    <button name="button" value="no" class="btn">不同意</button>
                    @if (Model.ClientUrl != null)
                    {
                        <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <strong>@Model.ClientName</strong>
                        </a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>