<template>
  <div class="main w">
    <div id="edit-header" class="w">
      <input ref="voteTitle" id="vote-title" class="ipt-style-1" v-model="voteObj.voteDocument.content" placeholder="请输入投票标题">
      <div class="deadline-container">
        截止时间：
        <input type="text" v-model="voteObj.voteDocument.deadline" placeholder="启用前请输入投票截止时间">
      </div>
      <div id="vote-options">
        <ul>
          <li><button id="btn-save-vote" @click="saveVote">保存投票</button></li>
          <!--<li><span></span>打印</li>-->
          <!--<li><span></span>预览</li>-->
          <li><button type="button" id="btn-active-vote" @click="activateVote"><span></span>启用投票</button></li>
        </ul>
      </div>
    </div>
    <div id="edit-vote-sidebar">
      <div id="edit-options">
        <ul>
          <li class="title-item"
              v-for="(item,index) in this.voteObj.titleEntitiesList"
              :key="item.vote.titleId"
          >
            <span class="delete-question" @click.stop="deleteQuestion(index)">×</span>
            <div class="title-index"@click.stop="currentQuestion=index">
              {{'第'+(index+1)+'题' }}
            </div>
          </li>
          <li>
            <div class="add-questions-box flex-box" v-bind:class="{'clicked':clickedAdd}">
              <div class="add-symbol" @click="clickedAdd = true">
                + 添加题目
              </div>
              <div class="add-options flex-box">
                <div class="option-back" @click="clickedAdd = false"><</div>
                <div class="option-single" @click="addSingleQuestion">+单选题</div>
                <div class="option-multi" @click="addMultiQuestion">+多选题</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="edit-main">
      <div id="edit-main-top">
        <div>
          {{'第'+(currentQuestion+1)+'题'}}
          <span>{{voteObj.titleEntitiesList[currentQuestion].vote.type==0?'单选题':'多选题'}}</span>
        </div>
        <input type="text"
               id="edit-question-content"
               v-model="voteObj.titleEntitiesList[currentQuestion].vote.titleContent"
        >
      </div>
      <div id="edit-main-bottom">
        <ul>
          <li v-for="(item,index) in voteObj.titleEntitiesList[currentQuestion].optionList" :key="item.optionId">
            <div class="option-item">
              <span class="delete-option" v-on:click="deleteOption(index)">×</span>
              {{String.fromCharCode(index+65)}}.
              <input v-model="item.optionContent" class="input-option-content">
            </div>
          </li>
          <li>
            <div id="add-option" @click="addOption">+ 增加选项</div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</template>
<script>
  var voteObj_out = {
    voteDocument:{},
    titleEntitiesList:[]
  };
  export default {
    name: 'EditVote',
    data() {
      return {
        voteObj: (this.$route.query.vote!==undefined)?eval(this.$route.query.vote):{
          voteDocument:{
            headlineId:-1,
            content: '投票标题',//投票集标题
            createTime:'',
            deadline:'',//投票集截止时间
            voteStatus:1,
            enabled:0,
            fk_userId:4
          },
          titleEntitiesList:[{
            vote:{
              titleContent:'投票项描述',
              type:0,
            },
            optionList:[{
              optionContent:'选项内容'
            },{
              optionContent:'选项内容'
            },{
              optionContent:'选项内容'
            }]
          }]
        },
        clickedAdd:false,
        currentQuestion:0
      }
    },
    components: {
    },
    methods: {
      addSingleQuestion: function () {
        let titleItem = {
          vote: {
            titleContent: '投票项描述',
            type: 0,
          },
          optionList: [
            {
              optionContent: '选项内容'
            }, {
              optionContent: '选项内容'
            }
          ]
        };
        this.voteObj.titleEntitiesList.push(titleItem);
        return titleItem;
      },
      addMultiQuestion: function () {
        let titleItem = {
          vote: {
            titleContent: '投票项描述',
            type: 1,
          },
          optionList: [
            {
              optionContent: '选项内容'
            }, {
              optionContent: '选项内容'
            }
          ]
        };
        this.voteObj.titleEntitiesList.push(titleItem);
        return titleItem;
      },
      deleteQuestion: function (questionIndex) {
        this.voteObj.titleEntitiesList.splice(questionIndex, 1);
        console.log('delete question index: ' + questionIndex)
      },
      deleteOption: function (optionIndex) {
        this.voteObj.titleEntitiesList[this.currentQuestion].optionList.splice(optionIndex, 1);
        console.log('delete option index: ' + optionIndex)
      },
      addOption: function () {
        this.voteObj.titleEntitiesList[this.currentQuestion].optionList.push(
          {
            optionContent: '选项内容'
          }
        )
      },
      saveVote: function () {
//        this.getVoteObj();
        console.log(JSON.stringify(this.voteObj))
        return fetch(this.$parent.remoteUrl + '/createVote', {
          body: JSON.stringify(this.voteObj),
          cache: "no-cache",
          headers: new Headers({
            "content-type": "application/json"
          }),
          method: "POST",
          mode: "cors",
          redirect: "follow",
          referrer: "no-referrer"
        }).then(res => res.json())
          .catch(error => console.log(error))
          .then(response => {if(response.voteDocument){
            alert('保存成功！')
          }})
      },
      activateVote:function () {
        //启用问卷
        if(this.voteObj.voteDocument.deadline===""){
          alert("请填写截止时间！");
          return;
        }
        if(this.voteObj.voteDocument.headlineId===undefined){
          alert("请先保存新问卷！");
          return;
        }else{
          return fetch(this.$parent.remoteUrl + '/enable', {
            body: JSON.stringify({
              headlineId: this.voteObj.voteDocument.headlineId,
              deadline:this.voteObj.voteDocument.deadline
            }),
            method: "POST",
            headers:{
              'content-type':'application/json'
            },
            mode: 'cors',
            redirect: 'follow',
            referrer: 'no-referrer'
          }).then(res => res.json())
            .catch(error=>console.log('Error',error))
            .then(response=>console.log('Success', response))
        }
      },
//      getVoteObj: function () {
//        for(let i = 0;i<this.voteObj.titleEntitiesList.length;i++){
//          voteObj_out.titleEntitiesList.push({vote:{},optionList:[]})
//          for(let pro in this.voteObj.titleEntitiesList[i].vote){
//            voteObj_out.titleEntitiesList[i].vote[pro] = this.voteObj.titleEntitiesList[i].vote[pro];
//          }
//          for(let j =0;j<this.voteObj.titleEntitiesList[i].optionList.length;j++){
//            voteObj_out.titleEntitiesList[i].optionList.push({optionContent:''});
//            for(let pro in this.voteObj.titleEntitiesList[i].optionList[j]){
//              voteObj_out.titleEntitiesList[i].optionList[j][pro]=this.voteObj.titleEntitiesList[i].optionList[j][pro]
//            }
//          }
//        }
////        voteObj_out.titleEntitiesList=this.voteObj.titleEntitiesList
////        voteObj_out.voteDocument = this.voteObj.voteDocument
//        for(let pro in this.voteObj.voteDocument){
//          voteObj_out.voteDocument[pro] = this.voteObj.voteDocument[pro];
//        }
//      }
    }
  }

</script>

<style scoped>
  .main{
    top:4em;
    height:54em;
    background: #f3f3f4;
  }

  /*edit-vote-sidebar start*/
  #edit-vote-sidebar {
    position: absolute;
    top: 4em;
    width: 282px;
    height: 50em;
    background: #f3f3f3;
    border-right:1px solid #9d9d9d;
    z-index: 0;
    overflow: auto;
    /*box-shadow: 0 0 2px #000;*/
  }
  #edit-vote-sidebar li {
    display: block;
    text-align: center;
    line-height: 45px;
    width: 280px;
    height: 45px;
    border-bottom:1px solid #9d9d9d;
    background: #fff;
    color: #6fafe6;
    overflow: hidden;
  }
  #edit-vote-sidebar li .add-questions-box{
    height: 45px;
    line-height: 45px;
    margin: 0 0;
    width:40em;
    transition: transform 0.5s;
  }
  #edit-vote-sidebar li .title-index{
  }

  #edit-vote-sidebar .title-item .delete-question {
    position: relative;
    font-weight: 900;
    float: left;
    width: 2em;
  }

  #edit-vote-sidebar .title-item .delete-question:hover{

    background: orangered;
    color: #f3f3f3;

  }
  #edit-vote-sidebar .add-questions-box.clicked{
    transition: transform 0.25s;
    transform: translate(-20em,0px)
  }
  #edit-vote-sidebar .add-symbol{
    flex:1;
    text-align: center;
    font-weight:900;
    font-size: 1em;
  }
  #edit-vote-sidebar .add-symbol:hover,#edit-vote-sidebar .add-options>div:hover,
  #edit-vote-sidebar .title-item:hover{
    background: #6fafe6;
    color: #fff;
    cursor: pointer;
  }

  #edit-vote-sidebar li .add-options{
    flex:1;
  }
  #edit-vote-sidebar li .add-options>div{
    flex:1;
    text-align: center;
    color: #6fafe6;
    background: #fff;
  }
  #edit-vote-sidebar .option-back{
    font-weight:900;
  }
  /*edit-vote-sidebar end*/

  /*edit-header start*/
  #edit-header {
    position: relative;
    height: 4em;
    line-height: 4em;
    background: #fff;
    border-bottom:1px solid #9d9d9d;
    z-index: 2;
  }
  #vote-title{
    position: absolute;
    margin-top:.75em;
    left:4em;
    height:1.5em;
    line-height: 1.5em;
    width: 15em;
    font-size:1.5em;
    font-weight:900;
    border-radius: 5px;
  }
  .deadline-container{
    position: absolute;
    margin-top:.25em;
    right:18em;
  }
  .deadline-container input{
    width: 15em;
  }
  #vote-options{
    position: absolute;
    right: 1em;
  }
  #vote-options li {
    float: left;
    display: block;
    padding: 0 1em;
  }
  #btn-active-vote,#btn-save-vote{
    width: 5em;
    height: 2.5em;
    background: #6fafe6;
    border-radius: .5em;
  }
  #btn-save-vote{
    background: #80c200;
  }
  /*edit-header end*/

  /*edit-main start*/
  #edit-main {
    position: absolute;
    top: 4em;
    left:286px;
    height:100%;
    display: flex;
    width:calc(960px - 292px);
    flex-direction:column;
    color:#6fafe6;
    overflow: auto;
  }
  #edit-main-top{
    flex:2;
    text-align: center;
    border-bottom:1px solid #9d9d9d;
  }
  #edit-main-top div{
    font-size: 1.5em;
    margin:1em 0;
  }
  #edit-main-top input{
    width:30em;
    height:2em;
    border-radius: 1em;
    font-size:1.5em;
  }
  #edit-main-bottom {
    flex: 8;
  }
  #edit-main-bottom ul {
    display: flex;
    flex-wrap: wrap;
  }
  #edit-main-bottom li{
    height: 45px;
    width: 333px;
    border-bottom: 1px solid #9d9d9d;
    vertical-align:bottom;
  }
  #edit-main-bottom .option-item{
    font-size: 1.5em;
    margin: .5em 0;
    text-align: center;
    border-right: 1px solid #9d9d9d;
  }
  #edit-main-bottom .option-item input{
    height:1.5em;
  }
  #edit-main-bottom .option-item .delete-option {
    position: relative;
    left: -2em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
  }
  #edit-main-bottom .option-item .delete-option:hover{
    background: orangered;
    color:#f3f3f3;
  }
  #edit-main-bottom li:hover{
    color:#f3f3f3;
    background: #66afe9;
  }
  #edit-main-bottom #add-option{
    text-align: center;
    line-height: 45px;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
    border-right:1px solid #9d9d9d;
  }
  /*edit-main end*/


</style>
