<template>
  <div class="header" id="header">
    <div class="w">
      <router-link to="/"><div class="header" id="header-logo" ></div></router-link>
      <div class="header" id="nav">
        <ul>
          <li><router-link :to="!$parent.user.isLogin?{path:'/my_votes',query:{voteList:$parent.votes}}:{path:'/sign'}">我的投票</router-link></li>
          <li><router-link :to="!$parent.user.isLogin?{path:'/edit_vote'}:{path:'/sign'}"><div>创建投票</div></router-link></li>
          <li><router-link :to="!$parent.user.isLogin?{path:'/vote_result'}:{path:'/sign'}"><div>投票统计</div></router-link></li>
          <li><router-link :to="!$parent.user.isLogin?{path:'/my_profile'}:{path:'/sign'}">个人中心</router-link></li>
          <li><router-link to="/help">帮助中心</router-link></li>
        </ul>
      </div>
      <button class="header" id="login" type="button" @click="login" v-if="!$parent.isLogin">登录</button>
      <button class="header" id="logout" type="button" @click="logout" v-if="$parent.isLogin">退出</button>
    </div>
  </div>
</template>

<script>
//  import Oidc from '../js/oidc-client.js'
//  Vue.use(Oidc)
  import Oidc from 'oidc-client'

  export default {
    data(){
      return {
        mgr:new Oidc.UserManager({
          authority: 'http://39.108.185.8:5000/',
          client_id: 'voteCollector',
          redirect_uri: 'http://localhost:8080/#/SignCallback/',
          response_type: 'id_token token',
          scope: 'openid profile phone email address',
        }),
      }
    },
    methods:{
      log:function() {
        document.getElementById('results').innerText = '';

        Array.prototype.forEach.call(arguments, function (msg) {
          if (msg instanceof Error) {
            msg = "错误：" + msg.message;
          }
          else if (typeof msg !== 'string') {
            msg = JSON.stringify(msg, null, 2);
          }
          document.getElementById('results').innerHTML += msg + '\r\n';
        });
      },
      logout: function () {
        this.mgr.signoutRedirect();
      },
      login: function () {
        this.mgr.signinRedirect();
      },
      signUp:function () {
        window.location.href = config.authority + "account/signup";
      }
    }
  }
</script>

<style scoped>
  /*header start*/
  .header {
    font-size:14px;
  }
  #header {
    position: fixed;
    top:0;
    height: 4em;
    width:  100%;
    background: #fff;
    box-shadow: 0 0 5px #000;
    z-index: 999;
  }
  #header-logo{
    position: absolute;
    left:0;
    height: 4em;
    background: url("../assets/logo.png") no-repeat;
    background-size: contain;
    width: 10em;
  }

  #nav{
    position: absolute;
    top:0;
    height: 4em;
    width: 28em;
    left:21em
  }
  #nav li {
    float: left;
    line-height: 4em;
    align-items: center;
    height: 4em;
    width: 5em;
  }
  #nav li a {
    display: block;
    text-align: center;
    width:5em;
  }
  #nav li a:hover{
    font-weight:900;
    color:#6fafe6;
    box-shadow: 0 0 4px #6fafe6;
  }

  #login {
    position: absolute;
    top:0;
    right:0em;
    height: 2.5em;
    width: 5em;
    border-radius: .5em;
    margin:.75em 0;
  }
  #login:hover{
    box-shadow: 0 0 4px #80c200;
  }
  #logout {
    position: absolute;
    top:0;
    right:0;
    height: 2.5em;
    width: 5em;
    border-radius: .5em;
    margin:.75em 0;
    background: orangered;
  }
  /*header end*/
</style>
