<template>
  <div class="container w">

    <h1>帮助中心</h1>
    <ol>
      <li><h2>投票系统简介-</h2></li>
      <br>
        <p>&emsp;&emsp;&emsp;这是一款专业的问卷调查系统。一键创建问卷添加问卷题目,完全自主编写问卷题目，简单高效的编辑方式,您可以管理发布您所发布的问卷调查，直观呈现数据结果，简单统计选项的频数。</p>

      <hr/>
      <li><h2>使用帮助-</h2></li>
      <ol>
        <li>注册-</li>
          <p>问卷调查的创建和发布需要使用者登录账号，点击登录按钮，选择注册选项。输入账号密码填写个人信息，注册完毕后可登录创建调查问卷。</p>
        <li>登录-</li>
          <p>问卷调查的创建需要登录之后才能使用，输入账号和登录密码，点击登录按钮。</p>
        <li>管理个人信息-</li>
          <p>点击我的信息可以预览和编辑个人信息</p>
        <li>创建问卷-</li>
          <p>点击创建问卷，编辑投票标题，选择题目分类，题目分为单选和多选题。填写投票标题和选项。问卷题目和题目选项无上限。</p>
        <li>编辑和管理问卷-</li>
          <p>预览投票，点击标题和题目可以直接编辑投票。可以设置投票统计结果是否公开。点击删除问卷可以删除问卷。</p>
        <li>启用投票-</li>
          <p>登录，进入我的问卷，启用投票，设定投票期限。复制投票链接。投票链接超出投票设定期限会失效。</p>
        <li>如何参与投票-</li>
          <p>点击投票链接，无需注册，参与投票，填写完投票问卷，提交问卷，投票完成。投票为匿名投票，只记录投票数。</p>
        <li>问卷是否会被系统管理员修改-</li>
          <p>用户创建的问卷系统管理员无法修改，只有创建用户可以修改。</p>
        <li>启用投票后，问卷被删除/参与投票用户对问卷有疑问或者不满-</li>
          <p>参与投票用户发现问卷有题目或选项有违规或者不妥可以联系系统管理查看，情况属实会联系创建问卷用户修改，严重将会收到封禁处理。</p>
      </ol>
    </ol>
  </div>
</template>
<script></script>
<style scoped>
  .container{
    position: relative;
    top:4em;
    font-size:1.5em;
    background: rgba(255,255,255,.5);
  }
  ol li{
    position: relative;
    left:2em;
  }
  p {
    padding:.1em 3em;
  }
</style>
