<template>
  <div>
    <div id="main" class="main w">
      <div id="slider">
        <ul class="slider-content w" ref="sliderContent">
          <li id="free" class="mid">免费</li>
          <li id="profession">专业</li>
          <li id="real-time">实时</li>
        </ul>
        <ul class="slider-point" ref="sliderPoint">
          <li class="clicked" @click="switchSlider"></li>
          <li @click="switchSlider"></li>
          <li @click="switchSlider"></li>
        </ul>
      </div>
      <p>1人正在使用</p>
      <router-link :to="{path:!$parent.user.isLogin?'/sign':'/edit_vote'}"><button class="btn-use" type="button">免费创建投票</button></router-link>
    </div>
  </div>
</template>
<script>
  export default {
    methods:{
      switchSlider:function (e) {
        var pIndex;
        //改变轮播点颜色
        for(let i =0;i<3;i++){
          this.$refs.sliderPoint.children[i].className="";
        }
        e.target.className = "clicked";

        for(let i =0;i<3;i++){
          if(this.$refs.sliderPoint.children[i].className=="clicked"){
            pIndex = i;
          }
        }
        //改变轮播内容

        this.$refs.sliderContent.children[pIndex].className="mid";
        if(pIndex==2){
          this.$refs.sliderContent.children[0].className="left";
          this.$refs.sliderContent.children[1].className="left";
        }else if(pIndex==1){
          this.$refs.sliderContent.children[0].className="left";
          this.$refs.sliderContent.children[2].className="";
        }else{
          this.$refs.sliderContent.children[1].className="";
          this.$refs.sliderContent.children[2].className="";
        }

      }
    }
  }
</script>
<style scoped>
  /*main start*/
  .main{
    height: 56em;
    text-align: center;
  }
  #slider {
    position: relative;
    margin-top:4em;
    height: 40em;
  }
  #slider .slider-point{
    position: absolute;
    bottom:2em;
    left:50%;
    margin-left:-4em;
  }
  #slider .slider-point li {
    float: left;
    background: transparent;
    height: .9em;
    width: .9em;
    border:.1em solid #fff;
    border-radius: .5em;
    margin: 0 .5em;
  }
  #slider .slider-point li.clicked{
    background: #fff;
  }
  #slider .slider-content{
    height:560px;
  }
  #slider .slider-content li{
    position: absolute;
    left: 50%;
    font-weight: 900;
    font-size: 10em;
    padding: 210px 0;
    color: #fff;
  }
  #slider .slider-content #profession,#slider .slider-content #free,
  #slider .slider-content #real-time{
    transition-property: transform opacity;
    transition-duration: 0.5s;
    margin-left:200px;
    opacity: 0;
  }
  #slider .slider-content #free.mid,#slider .slider-content #profession.mid,
  #slider .slider-content #real-time.mid{
    transition-property: transform opacity;
    transition-duration: 0.5s;
    margin-left:-140px;
    opacity: 1;
  }
  #slider .slider-content #free.left,#slider .slider-content #profession.left,
  #slider .slider-content #real-time.left{
    transition-property: transform opacity;
    transition-duration: 0.5s;
    margin-left:-380px;
    opacity: 0;
  }
  #main p{
    color:#fff;
    font-size: 1.4em;
    line-height: 1.4em;
  }

  #main button {
    margin: 1em 0;
    width: 10em;
    height:2.5em;
    font-size:1.2em;
    border-radius: .5em;
  }
  /*main end*/
</style>
