<template>
  <div id="my-profile-container" class="w">
    <div id="prof-options">
      <ul>
        <li><div ref="optionShowProf" @click="currentView='showProf'" v-bind:class="{'selected':currentView=='showProf'}">个人信息</div></li>
        <li><div ref="optionShowPw" @click="currentView='changePw'" v-bind:class="{'selected':currentView=='changePw'}">修改密码</div></li>
      </ul>
    </div>
    <div id="current-view" >
     <component v-bind="{
        is:currentView,
        optionParas:(currentView=='showProf'?this.userInfo:null)
     }">
     </component>
    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return{
        currentView:'showProf',
        userInfo: this.$parent.user,
        changePwInfo:{
          newPw:'',
          confirmNewPw:'',
          oldPw:''
        }
      }
    },
    components:{
      //修改个人资料组件
      showProf:{
        props:['optionParas'],
        template:`
          <div id="show-prof-view">
            <div class="content">
                <div class="phone-number-box flex-box">
                    <span class="text">手机号：</span>
                    <span class="input-span">
                        <input class="ipt-style-1" type="text" ref="phoneInput" v-bind:value="optionParas.phone">
                    </span>
                </div>
                <div class="email-box flex-box">
                    <span class="text">邮箱：</span>
                    <span class="input-span">
                        <input class="ipt-style-1" type="text" ref="emailInput" v-bind:value="optionParas.email">
                    </span>
                </div>
            </div>
            <button id="btn-change-prof" type="button">修改个人信息</button>
          </div>
        `
      },
      //修改密码组件
      changePw:{
        template:`
          <div id="change-pw-view">
            <div class="content">
                <div class="phone-number-box flex-box">
                    <span class="text">新密码：</span>
                    <span class="input-span"><input class="ipt-style-1"  type="password" ref="newPw"></span>
                </div>
                <div class="email-box flex-box">
                    <span class="text">确认新密码：</span>
                    <span class="input-span"><input class="ipt-style-1"  type="password" ref="confirmNewPw"></span>
                </div>
                <div class="email-box flex-box">
                    <span class="text">旧密码：</span>
                    <span class="input-span"><input class="ipt-style-1" type="password" ref="oldPw"></span>
                </div>
            </div>
            <button id="btn-change-pw" type="button">修改密码</button>
          </div>
        `,
        methods:{
          changePw:function () {
          }
        }
      }
    }
  }
</script>

<style scoped>
  #my-profile-container{
    font-size: 1.5em;
    display: flex;
    position: relative;
    top: 4em;
    height:20em;
    margin: 0 auto;
    background: #fff
  }
  #my-profile-container ul{
    flex:1;
    display: flex;
    flex-direction:column;
  }
  #my-profile-container li{
    flex: 1;
    height: 2em;
    padding:1em 0;
    line-height: 2em;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
  }
  #my-profile-container li>div {
    width: 4em;
    height: 1em;
    line-height: 1em;
    padding: .5em 0;
    margin: 0 auto;
  }
  #my-profile-container li>div:hover{
    border-bottom: 2px solid #66afe9;
    cursor: pointer;
  }
  #prof-options{
    flex: 1;
  }
  #current-view{
    flex: 4;
    padding:4em;
  }

  #change-pw-view,#show-prof-view{
    position: relative;
  }

  #current-view>>>#btn-change-pw,#current-view>>>#btn-change-prof {
    font-size: 1em;
    background: orange;
    position: absolute;
    right: 0;
    width:6em;
    border-radius: .5em;
    line-height: 2em;
    height:2em;
  }
  #current-view>>>#btn-change-prof{
    width: 8em;
  }

</style>
