<template>
  <div id="votes-container" class="main w">
    <table cellspacing="0">
      <thead>
        <tr>
          <th>#</th>
          <th>投票标题</th>
          <th>创建时间</th>
          <th>截止时间</th>
          <th>是否启用</th>
          <th>编辑操作</th>
        </tr>
      </thead>
      <tbody>
          <tr v-for="(item, index) in votes" :class="{'colored':index%2==1}">
            <td>{{ item.voteDocument.headlineId }}</td>
            <td>{{ item.voteDocument.content }}</td>
            <td>{{ item.voteDocument.createTime }}</td>
            <td>{{ item.voteDocument.deadline }}</td>
            <td>{{ item.voteDocument.enabled===1?'是':'否' }}</td>
            <td class="btn-td">
              <router-link :to="{path:'/edit_vote', query:{vote:votes[index]}}">编辑</router-link>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</template>
<script>
//  const votes = [
//    {
//      title:'投票标题1',
//      createDate:'2018-07-21',
//      deadline:'2018-07-22'
//    },{
//      title:'投票标题2',
//      createDate:'2018-07-21',
//      deadline:'2018-07-22'
//    },{
//      title:'投票标题2',
//      createDate:'2018-07-21',
//      deadline:'2018-07-22'
//    },{
//      title:'投票标题2',
//      createDate:'2018-07-21',
//      deadline:'2018-07-22'
//    },{
//      title:'投票标题2',
//      createDate:'2018-07-21',
//      deadline:'2018-07-22'
//    }
//  ];
  var init = {
    method:'POST',
    headers:new Headers({
      "user-agent":"Mozilla/4.0 VoteCollectorFrontEnd",
      "content-type":"application/json"
    }),
    mode:"cors",
    cache:"no-cache",
    body:JSON.stringify({
      "index": 1,
      "userId":4
    }),
    referrer:'no-referrer'
  };
  export default {
    data() {
      return{
        votes:{},
        request:new Request(this.$parent.remoteUrl+"/scanVote",init),
      }
    },
    methods:{
    },
    mounted:function () {
      return fetch(this.request)
        .then(res =>res.json().then(data=>this.votes=data.voteEntity).then(console.log(data)))
        .catch(error => console.log('Error', error))
    }
  }
</script>
<style scoped>
  .main{
    top:4em;
  }
  #votes-container{
    height: 60em;
    background: #fff;
  }
  table{
    width: 100%;

  }
  thead th{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom: 1px solid #d1d1d1;
  }
  tbody td{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    border-top: 1px solid #d1d1d1;
  }
  tbody tr.colored{
    background: #f3f3f3;
  }
  tbody tr:hover{
    background: #66afe9;
    color:#fff;
  }
  button.btn-edit{
    background:#66afe9;
    color:#fff
  }
  #votes-container div {
    height: 1em;
    width: 1em;
    background: red;
  }
  a:hover{
    text-decoration: underline;
  }
</style>
