<template>
  <div>重定向页面</div>
</template>
<script>
  import Oidc from 'oidc-client'
  export default {
    data(){
      return{
        mgr:new Oidc.UserManager()
      }
    },
    mounted:function () {
      this.mgr.signinRedirectCallback().then(() => {
        this.mgr.getUser().then((user)=>{
          fetch("login", {
            headers: {
              "Content-Type": "application/json"
            },
            method: 'post',
            body: JSON.stringify(user.profile)
          })
            .then((respone) => { console.log(respone.json()); })
            .catch((e) => { console.log(e); })})
      }).then(() => {
        window.location = window.location.protocol + "//" +window.location.host+"/#/index";
      }).catch(function (e) {
        console.error(e);
      });
      this.$parent.isLogin=true;
      this.$router.push('/')
    }
  }
</script>
