<template>
  <div id="sign-container" class="w">
    <div class="sign-options">
      <ul>
        <li><div class="sign-in" v-bind:class="{'selected':!signUp}" ref="signIn" v-on:click="signUp=false">登录</div></li>
        <li class="line"></li>
        <li><div class="sign-up" v-bind:class="{'selected':signUp}" ref="signUp" v-on:click="signUp=true">注册</div></li>
      </ul>
    </div>
    <div class="sign-input-box">
      <div class="flex-box">
        <span class="text">手机号：</span>
        <span class="input-span"><input class="ipt-style-1" type="text" ref="phoneInput"></span>
      </div>
      <div class="flex-box">
        <span class="text">密码：</span>
        <span class="input-span"><input class="ipt-style-1" type="password" ref="passwordInput"></span>
      </div>
      <transition name="confirm">
        <div class="flex-box" v-if="signUp">
          <span class="text">确认密码:</span>
          <span class="input-span"><input class="ipt-style-1" type="password" ref="confirmPasswordInput"></span>
        </div>
      </transition>
    </div>
    <button ref="btnSignAction" @click="sign">{{ (signUp?'注册':'登录') }}</button>
  </div>
</template>
<script>
//  const remoteUrl='http://127.0.0.1:8088';
  export default{
    data(){
      return {
        signUp:false
      }
    },
    methods:{
    },

  }
</script>
<style scoped>
  #sign-container {
    font-size: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 8em;
    width: 20em;
    padding:3em;
    background: #f1f1f1;
    border-radius: 1em;
    margin: 0 auto;
  }
  #sign-container div{
    flex:1;
  }

  .sign-options ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: .5em;
  }
  .sign-options li {
    position: relative;
    height: 1em;
    width:3em;
    flex: 1;
  }
  .sign-options li.line{
    flex:0;
    width:0;
    height:0;
    border-top:1em solid black;
    border-bottom:1em solid black;
    border-left:1px solid black;
    border-right:1px solid black;
  }

  .sign-up,.sign-in {
    width: 4em;
    height: 1em;
    line-height: 1em;
    margin: 0 auto;
    padding-bottom:.3em;
    cursor: pointer;
  }

  #sign-container button{
    font-size: 1em;
    height:2em;
    line-height: 2em;
    border-radius: .5em;
  }

  /*过渡动画*/
  .confirm-enter-active, .confirm-leave-active{
    transition: opacity .1s;
  }
  .confirm-enter, .confirm-leave-active{
    opacity: 0;
  }

</style>
