<template>
  <div class="vote-page w">
    <div class="page-title-container">
      <component v-bind="{is:'comTitle',titleItem:vote.voteDocument}">
      </component>
    </div>
    <div class="page-question-container">
      <component v-for="(item,index) in vote.titleEntitiesList"
                 v-bind="{is:'comQuestion',questionItem:item}"
                  :key="item.vote.titleId">
      </component>
    </div>
    <div class="btn-container">
      <button class="btn-submit" @click="submitOptions">提交投票</button>
    </div>
  </div>
</template>
<script>
  export default {
    data(){
      return {
        vote: {}
      }
    },
    methods:{
      submitOptions:function () {
        var selectdOptions=[];
        var allInput = document.getElementsByTagName('input');
        for(let i=0;i<allInput.length;i++){
          if(allInput[i].checked){
            selectdOptions.push(allInput[i].value)
          }
        }
        console.log(selectdOptions)
        if(selectdOptions.length==0){
          alert('请作出投票！')
        }else {
          return fetch(this.$parent.remoteUrl + '/voteFor', {
            body: JSON.stringify(selectdOptions),
            headers: {
              'content-type': 'application/json'
            },
            method: "POST",
            cache: "no-cache",
            redirect: "follow",
            referrer: "no-referrer"
          }).then(res => {
            console.log(res.json());
            alert("投票成功！")
          })
            .catch(error => console.log(error))
        }
      }
    },
    components:{
      comTitle:{
        props:['titleItem'],
        template:`
          <div class="title-container">
            <div class="title-container-top">
              <h1 class="title-content">{{titleItem.content}}</h1>
            </div>
            <div class="title-container-bottom">
              <h3 class="deadline">截止时间：{{titleItem.deadline}}</h3>
            </div>
          </div>
        `
      },
      comQuestion:{
        props:['questionItem'],
        template:`
          <div class="question-container">
            <h3>{{ questionItem.vote.titleContent }}</h3>
            <div class="option-container" >
              <form action="">
                <div class="input-container" v-for="(item,index) in questionItem.optionList">
                  <input
                    v-bind:type="questionItem.vote.type==1?'checkbox':'radio'"
                    v-bind:name="questionItem.vote.type==1?'checkbox'+index:'radiobutton'"
                    v-bind:value="item.optionId"
                  >{{item.optionContent}}
              </form>
              </div>
            </div>
            </div>
          </div>
        `,
      },


    },
    beforeMount:function () {
      console.log(this.$route.params.id)
      return fetch(this.$parent.remoteUrl+'/scanVoteByHeadlineId?headlineId='+this.$route.params.id, {
        method: 'GET',
        mode: 'cors',
        redirect: 'follow',
        referrer:'no-referrer',
        cache:'no-cache'
      }).then(res=>res.json().then(data=>this.vote=data))
        .catch(error=>console.log('Error',error))
        .then(response=>{
          console.log(response)
        })
    }
  }
</script>
<style scoped>
  .vote-page{
    position: relative;
    top:4em;
    font-size: 1.5em;
    color:#fff;
  }
  .title-container{
    text-align: center;
  }
  .btn-container{
    width: 100%;
    text-align: center;

  }
  .btn-container button{
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    border-radius: 5px;
    padding:0 1em;
  }
  .page-question-container>>> .input-container{
    position: relative;
    left:4em;
  }
  .page-question-container>>> h3 {
    position: relative;
    left:2em;
  }
</style>
