<template>
  <div class="container w">
    <div class="title-container">
      <div><h2>投票列表</h2></div>
      <ul>
        <li v-for="(item,index) in votes"
            @click="changeResult(item.voteDocument.headlineId)">
          {{item.voteDocument.content}}
        </li>
      </ul>
    </div>
    <div class="result-container">
        <div class="result-title-container" v-if="currentVote!==undefined">
          <div class="result-title-container-top">
            <h1 class="result-title-content">{{currentVote!==undefined?currentVote.voteDocument.content:""}}</h1>
          </div>
          <div class="result-title-container-bottom">
            <h3 class="deadline" >截止时间：{{currentVote!==undefined?currentVote.voteDocument.deadline:""}}</h3>
          </div>
        </div>
        <div class="page-question-container" v-if="currentVote!==undefined">
          <ul>
            <li v-for="(item, index) in currentVote.titleEntitiesList">
              <div class="question-item">
                <h2>{{item.vote.titleContent}} ({{item.vote.type==0?'单选':'多选'}})</h2>
                <ul>
                  <li v-for="(item, index) in item.optionList">
                    <div class="option-item">
                      <div class="item-left">{{item.optionContent}}</div>
                      <div class="item-right">{{item.number}}</div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</template>
<script>
  export default {
    data(){
      return{
        votes:[],
        currentVote:undefined
      }
    },
    methods:{
      changeResult:function (headlineId) {
        for(let i=0;i<this.votes.length;i++) {
          if(this.votes[i].voteDocument.headlineId==headlineId){
            this.currentVote=this.votes[i]
          }
        }
      }
    },
    mounted:function () {
      return fetch(this.$parent.remoteUrl+'/scanVote',{
        body:JSON.stringify({
          index:1,
          userId:4
        }),
        method:"POST",
        headers: {
          'content-type': 'application/json'
        },
        cache: "no-cache",
        redirect: "follow",
        referrer: "no-referrer",
        mode:'cors'
      }).then(res=>res.json().then(data=>this.votes=data.voteEntity))
        .catch(error=>console.log("Error",error))
    }
  }
</script>
<style scoped>
  .container {
    position: relative;
    top:4em;
    display: flex;
    height:50em;

  }
  .title-container{
    flex:2;
    text-align: center;
    border-left:1px solid #9d9d9d ;
    border-right:1px solid #9d9d9d ;
    background: #fff;
    overflow: auto;
    background: rgba(255,255,255,.15);
  }
  .title-container>div{
    padding:1em 0;
    border-bottom:2px solid #9d9d9d;
  }
  .title-container li{
    padding:1em;
    font-size:1.5em;
    border-bottom:1px dashed #9d9d9d;
  }
  .title-container li:hover{
    background-color: #66afe9;
    color:#fff;
    cursor: pointer;
  }
  .result-container{
    font-size: 1.2em;
    flex:5;
    overflow: auto;
    border-left:1px solid rgba(0,0,0,0) ;
    border-right:1px solid rgba(0,0,0,0) ;
    background: rgba(255,255,255,.15);
  }
  .result-title-container{
    text-align: center;
    padding:2em;
  }
  .question-item{
    margin:1em 1em;
  }
  .question-item .option-item{
    display: flex;
    margin-left:2em;
  }
  .question-item .option-item>div{
    flex:1;
    font-size: 1.2em;
    padding:.1em;
  }
</style>
