﻿@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["sign-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 中央登录授权系统</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">中央登录授权系统</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse right" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @(ViewData["Title"].ToString() == "登录" ? "active" : null)"><a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">登录</a></li>
                    @if (!string.IsNullOrWhiteSpace(name))
                    {
                        <li class="nav-item @(ViewData["Title"].ToString() == "注销" ? "active" : null)"><a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link">注销</a></li>
                    }
                    else
                    {
                        <li class="nav-item @(ViewData["Title"].ToString() == "注册" ? "active" : null)"><a asp-area="" asp-controller="Account" asp-action="Signup" class="nav-link">注册</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - 赖俊成</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/dist/popper.js" type="module">
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
