<template>
  <div id="app">

    <iframe hidden="hidden" src="http://39.108.185.8:5000/connect/checksession"></iframe>
    <v-header></v-header>
    <router-view/>
  </div>
</template>

<script>
  import Header from './components/Header.vue';

  export default {
    name: 'App',
    components:{
      'v-header': Header,
    },
    data:function () {
      return{
        remoteUrl:'http://localhost:8088',
        user: {
          isLogin: false,
          username: 'testUser',
          password: 'test123123',
          phone:'13302332333',
          registerTime:'2018-07-23',
          email:''
        },
        votes:[
          {
            headlineId:0,//投票集id，创建投票集时为空
            content: '投票标题0',//投票集标题
            createTime:'2018-07-21',//投票集创建时间
            deadline:'----',//投票集截止时间
            voteStatus:1,
            enabled:0,
            titles: [{
              titleId:0,//投票项id，添加新投票项时为空
              titleContent:'投票项描述0',
              type:0,
              options:[{
                optionId:1,
                optionContent:'测试选项内容1'
              },{
                optionId:2,
                optionContent:'测试选项内容2'
              },{
                optionId:3,
                optionContent:'测试选项内容3'
              }]
            }]
          },
          {
            headlineId:1,//投票集id，创建投票集时为空
            content: '投票标题1',//投票集标题
            createTime:'2018-07-21',//投票集创建时间
            deadline:'2018-07-23',//投票集截止时间
            voteStatus:1,
            enabled:1,
            titles: [
              {
                titleId:1,//投票项id，添加新投票项时为空
                titleContent:'投票项描述1',
                type:0,
                options:[{
                  optionId:4,
                  optionContent:'测试选项内容4'
                },{
                  optionId:5,
                  optionContent:'测试选项内容5'
                },{
                  optionId:6,
                  optionContent:'测试选项内容6'
                }]
              },
              {
                titleId:2,//投票项id，添加新投票项时为空
                titleContent:'投票项描述2',
                type:0,
                options:[{
                  optionId:7,
                  optionContent:'测试选项内容7'
                },{
                  optionId:8,
                  optionContent:'测试选项内容8'
                },{
                  optionId:9,
                  optionContent:'测试选项内容9'
                }]
              }
            ]
        }],
        isLogin:false
      }
    }
  }

</script>

<style>
  /* reset start*/

  html,body,div,p,ul,li,ol,button,input,a,h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
    border:0;
    text-decoration: none;
    outline: none;
    font-family: 'simsun';
  }
  ul,li,ol{
    list-style: none;
  }
  a{
    color:#000;
  }
  /*h1,h2,h3,h4,h5{*/
    /*display: block;*/
  /*}*/
  body{
    font-size:14px;
    background: url("./assets/background.jpg");
  }
  button{
    background: #80c200;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .w{
    position: relative;
    width: 960px;
    min-width: 400px;
    margin:0 auto;
  }
  .clearfix::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }
  .clearfix::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }
  router-view {
    position: relative;
    top:4em;
  }
  /*reset end*/

  /*input-decoration start*/
  .flex-box {
    display: flex;
    align-items: center;
    margin:1em 0;
    text-align: center;
  }
  span.input-span{
    flex:2;
    height:1.2em;
    background: #fff;
    border:1px solid black;
    border-radius: .5em;
    padding:.2em;
  }
  input.ipt-style-1{
    height:1em;
    line-height:1em;
    font-size:1em;
    width:100%;
  }
  span.text{
    flex:1;
    height:1em;
    line-height: 1em;
    margin: .2em 0;
  }
  /*input-decoration end*/
  /*div selected start*/
  div.selected{
    color: #66afe9;
    border-bottom:2px solid #66afe9;;
  }
  /*div selected end*/
  /*#app{*/
    /*background: rgba(0,0,0,.5);*/
  /*}*/
</style>
